@import "~react-image-gallery/styles/css/image-gallery.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;600&display=swap');

/* global adjustments */

body {
  margin: 0;
  font-family: 'Catamaran', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection { 
  background: #6420F7 !important; 
}

code {
  font-family: 'Catamaran', serif;
}

body {
  font-family: 'Catamaran', serif;
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
}

.container {
  width: 75%;
  margin: auto;
  font-family: 'Catamaran', sans-serif;
}

.d-logo {
  font-weight: 600;
  font-size: 60px;
  color: #6420F7;
  margin-bottom: 0px;
}

table {
  font-family: 'Catamaran', sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/* login */


/* register */


/* upload page */


/* main slide */

.background {
  background-image: url(./components/views/LandingPage/Sections/header2.jpg);
  width: 100%;
  min-height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sub-container {
  width: 90%;
  margin: auto;
  color: white;
  font-weight: 600;
}

.sub-container h1 {
  color: white;
  font-size: 36px;
  margin-top: 50px;
  font-weight: 600;
}

.sub-container p {
  max-width: 50%;
  font-size: 16px;
}

.sub-container .button {
  background-color: #6420F7;
  color: white;
  border: none;
  font-weight: 600;
}

.sub-container .button:hover {
  color: #6420F7;
  border: 1px solid #6420F7;
}

/* home */

.home h2 {
  font-family: 'Catamaran', sans-serif;
  font-size: 30px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.appdesign {
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* trips */

.trips h2 {
  font-family: 'Catamaran', sans-serif;
  font-size: 30px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.center-button {
  display: flex;
  justify-content: center;
}

.center-button .button {
  background-color: #6420F7;
  color: white;
  border: none;
  font-weight: 600;
}

.center-button .button:hover {
  border: 1px solid #6420F7;
  color: #6420F7;
  font-weight: 600;
}

/* detail product page */

.country {
  font-size: 16px;
  font-weight: 600;
  color: #6420F7;
  margin-top: 10px;
}

/* product info */

.product-info {
  font-family: 'Catamaran', sans-serif;
  margin-top: 40px;
}

.product-info h3 {
  font-size: 18px;
  font-weight: 600;
}

.product-info p {
  font-size: 16px !important;
}

.product-info .btn {
  background-color: #6420F7;
  color: white;
  border: none;
  font-weight: 600;
  margin-top: 16px;
}

.product-info .btn:hover {
  color: #6420F7;
  border: 1px solid #6420F7;
}

/* login */
.app {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* footer */

footer .container {
  width: 75%;
  margin: auto;
  font-family: 'Catamaran', sans-serif;
}

footer li {
  list-style: none;
}

footer li a {
  color: rgba(0, 0, 0, 0.65);
  font-size: 16px;
}

footer li a:hover {
  color: #6420F7;
}

footer .divider {
  color: #333333;
  font-weight: normal;
}

footer  .d-logo {
  font-weight: 600;
  font-size: 40px;
  color: #6420F7;
  margin-bottom: 0px;
}

footer .company-address {
  font-family: 'Catamaran', sans-serif;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 5px;
}

footer .section-title {
  font-family: 'Catamaran', sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}

footer .section-subtitle {
  font-size: 16px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.65);
  margin-bottom: 8px;
}

footer .copyright {
  margin-top: 40px;
  margin-bottom: 20px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
}

footer .copyright a {
  color: #6420F7;
}

/* react image gallery */

.image-gallery-content .image-gallery-slide .image-gallery-image {
  border-radius: 20px;
}

.image-gallery-content .image-gallery-slide .image-gallery-image {
  max-height: 100vh;
}

.image-gallery-thumbnail .image-gallery-thumbnail-image {
  display: none;
}

.image-gallery-left-nav .image-gallery-svg, .image-gallery-right-nav .image-gallery-svg {
  height: 30px;
  width: 30px;
}

/* inputs */

input.error {
  border-color: red;
}

.input-feedback {
  color: red;
  height: 5px;
  margin-top: -12px;
}

/* custom margins */

.mt {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-40 {
  margin-top: 40px;
}

.mb {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-40 {
  margin-bottom: 40px;
}

/* custom ant style */

.ant-card-meta-title {
  font-family: 'Catamaran', sans-serif;
  font-weight: 600 !important;
  font-size: 18px !important;
}

.ant-card-meta-description {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #6420f7 !important;
}

.ant-checkbox-wrapper {
  margin: 0px 10px !important;
}

.image-gallery-thumbnail.active, .image-gallery-thumbnail:hover, .image-gallery-thumbnail:focus {
  display: none;
}

.image-gallery-fullscreen-button .image-gallery-svg, .image-gallery-play-button .image-gallery-svg {
  display: none;
}

.ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected {
  color: #6420F7 !important;
  border-bottom: none !important;
}

.ant-rate-star-half .ant-rate-star-first, .ant-rate-star-full .ant-rate-star-second {
  color: #6420F7 !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #6420F7 !important;
  border-color: #6420F7 !important;
}

.ant-menu-item > a:hover {
  color: #6420F7;
}

/* responsive mobile */